html {
  height: 100%;
  overflow: auto;
}

body {
  position: relative;
  background: white;
  margin: 0 auto;
  min-height: 100%;
  overflow: scroll;
}

#header {
  height: 100px;
  background: rgba(64, 131, 155, 0.646);
  margin: 0 auto;
  position: fixed;
  width: 100%;
}

#header .logo {
  width: 20%;
  height: 50%;
  padding-top: 10px;
  box-sizing: border-box;
  margin-left: 45%;
}

#header .logo img {
  width: 160px;
}

#header .search input {
  height: 30px;
  width: 80%;
  border-radius: 5px;
  text-align: center;
}
.searchBox {
  float: left;
  padding: 35px;
  width: 60%;
  text-align: center;
  box-sizing: border-box;
  display: block;
}
#dropdownContentDiv {
  display: none;
}

#searchBoxId {
  display: none;
}

.requestBtn {
  position: absolute;
  font-family: "helveticaneuemedium";
  left: 50%;
  text-align: center;
  background-color: rgba(64, 131, 155, 0.646);
  color: white;
  font-size: 16px;
  padding: 10px 40px;
  border: solid white 1px;
  border-radius: 8px;
  margin-top: 20px;
  left: 20px;
  width: 100%;
}

#header .welcomeMessage {
  float: right;
  width: 20%;
  height: 100%;
  font: 16px sans-serif;
  text-align: center;
  box-sizing: border-box;
  color: #333;
}

#addRequest {
  display: none;
}

.requestSelect {
  width: 100%;
  /* display: none; */
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 1000px;
  background-color: rgba(115, 118, 120, 0.392);
  position: fixed;
  overflow: auto;
  top: 100px;
}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.sidebar a.active {
  background-color: #444547fb;
  color: white;
}
.sidebar a:hover:not(.active) {
  background-color: rgba(194, 186, 186, 0.383);
  color: white;
}
.content {
  margin-left: 200px;
  padding: 1px 16px;
  padding-top: 10%;
  height: 1000px;
  float: left;
  /* top: 100px; */
  position: fixed;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
/* footer */
#main {
  /* position: relative; */
  z-index: 1;

  background-color: #fff;

  background-image: -webkit-radial-gradient(
    center,
    circle farthest-corner,
    #fff,
    #e2e2e2
  );
  background-image: -moz-radial-gradient(
    center,
    circle farthest-corner,
    #fff,
    #e2e2e2
  );
  background-image: radial-gradient(
    center,
    circle farthest-corner,
    #fff,
    #e2e2e2
  );

  padding: 120px 0 600px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

footer {
  height: 245px;
  color: #ccc;
  font-size: 12px;

  position: relative;
  z-index: -2;

  background-color: #31353a;

  background-image: -webkit-linear-gradient(top, #31353a, #2f3337);
  background-image: -moz-linear-gradient(top, #31353a, #2f3337);
  background-image: linear-gradient(top, #31353a, #2f3337);
}
/* Set a width to the outermost UL, center it and fix it to the window */

footer > ul {
  width: 960px;
  position: fixed;
  left: 50%;
  bottom: 0;
  margin-left: -480px;
  padding-bottom: 60px;
  z-index: -1;
}
/* The four columns of links */

footer > ul > li {
  width: 25%;
  float: left;
}

footer ul {
  list-style: none;
}

/* The links */

footer > ul > li ul li {
  margin-left: 43px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.8;
}

footer > ul > li ul li a {
  text-decoration: none !important;
  color: #7d8691 !important;
}

footer > ul > li ul li a:hover {
  color: #ddd !important;
}
/* The company logo */

footer a.logo {
  color: #e4e4e4 !important;
  text-decoration: none !important;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  margin-left: 16px;
  display: inline-block;
  margin-top: 7px;
}

footer a.logo i {
  font-style: normal;
  position: absolute;
  width: 60px;
  display: block;
  left: 48px;
  top: 18px;
  font-size: 12px;
  color: #999;
}

footer a.logo:before {
  content: "";
  display: inline-block;
  background: url("../img/sprite.png") no-repeat -19px -70px;
  width: 48px;
  height: 37px;
  vertical-align: text-top;
}
footer p {
  width: 90%;
  margin-right: 10%;
  padding: 9px 0;
  line-height: 18px;
  background-color: #058cc7;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  opacity: 0.9;
  cursor: default;

  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

footer > ul > li:hover p {
  opacity: 1;
}

footer p:before {
  content: "";
  display: inline-block;
  background: url("../img/sprite.png") no-repeat;
  width: 16px;
  height: 18px;
  margin: 0 12px 0 15px;
  vertical-align: text-bottom;
}
footer p.home {
  background-color: #0096d6;

  background-image: -webkit-linear-gradient(top, #0096d6, #008ac6);
  background-image: -moz-linear-gradient(top, #0096d6, #008ac6);
  background-image: linear-gradient(top, #0096d6, #008ac6);
}

footer p.home:before {
  background-position: 0 -110px;
}

footer p.services {
  background-color: #00b274;

  background-image: -webkit-linear-gradient(top, #00b274, #00a46b);
  background-image: -moz-linear-gradient(top, #00b274, #00a46b);
  background-image: linear-gradient(top, #00b274, #00a46b);
}

footer p.services:before {
  background-position: 0 -129px;
}

footer p.reachus {
  background-color: #d75ba2;

  background-image: -webkit-linear-gradient(top, #d75ba2, #c75496);
  background-image: -moz-linear-gradient(top, #d75ba2, #c75496);
  background-image: linear-gradient(top, #d75ba2, #c75496);
}

footer p.reachus:before {
  background-position: 0 -89px;
}

footer p.clients {
  background-color: #e9ac40;

  background-image: -webkit-linear-gradient(top, #e9ac40, #d89f3b);
  background-image: -moz-linear-gradient(top, #e9ac40, #d89f3b);
  background-image: linear-gradient(top, #e9ac40, #d89f3b);
}

footer p.clients:before {
  background-position: 0 -69px;
}
